src/main/resources/wsdl/xsd/service/ExportIncomes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
		   xmlns:com="http://rnip.mos.ru/xsd/Common/2.6.0"
		   xmlns:inc="http://rnip.mos.ru/xsd/Income/2.6.0"
		   xmlns:sc="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
		   targetNamespace="urn://rnip.mos.ru/xsd/services/export-incomes/2.6.0"
		   xmlns="urn://rnip.mos.ru/xsd/services/export-incomes/2.6.0">
	<xs:import namespace="http://rnip.mos.ru/xsd/Common/2.6.0"
			   schemaLocation="commons/Common.xsd"/>
	<xs:import namespace="http://rnip.mos.ru/xsd/Income/2.6.0"
			   schemaLocation="commons/Income.xsd"/>
	<xs:import namespace="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
			   schemaLocation="commons/SearchConditions.xsd"/>
	<xs:element name="ExportIncomesRequest">
		<xs:annotation>
			<xs:documentation>Запрос на предоставление информации о зачислении</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="com:ExportRequestType">
					<xs:sequence>
						<xs:element ref="sc:IncomesExportConditions">
							<xs:annotation>
								<xs:documentation>Условия для предоставления информации о зачислении</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="external" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Внешний запрос в СМЭВ-3 (ГИС ГМП)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExportIncomesResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос предоставления информации о зачислении</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="com:ResponseType">
					<xs:sequence minOccurs="0">
						<xs:element name="IncomeInfo" maxOccurs="100">
							<xs:annotation>
								<xs:documentation>Извещение о зачислении</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="inc:IncomeType">
										<xs:attribute name="receiptPaymentStatus" type="com:receiptPaymentStatusType"
													  use="required">
											<xs:annotation>
												<xs:documentation>Статус сопоставление зачисления и платежа
												</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="hasMore" type="xs:boolean" use="required">
						<xs:annotation>
							<xs:documentation>Признак конца выборки:
								false - достигнут конец выборки;
								true - после последнего предоставленного элемента в выборке имеются другие.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
