src/main/resources/wsdl/xsd/service/ExportRefunds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
		   targetNamespace="urn://rnip.mos.ru/xsd/services/export-refunds/2.6.0"
		   xmlns:com="http://rnip.mos.ru/xsd/Common/2.6.0"
		   xmlns:sc="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
		   xmlns:rf="http://rnip.mos.ru/xsd/Refund/2.6.0"
		   xmlns="urn://rnip.mos.ru/xsd/services/export-refunds/2.6.0">
	<xs:import namespace="http://rnip.mos.ru/xsd/Common/2.6.0" schemaLocation="commons/Common.xsd"/>
	<xs:import namespace="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
			   schemaLocation="commons/SearchConditions.xsd"/>
	<xs:import namespace="http://rnip.mos.ru/xsd/Refund/2.6.0" schemaLocation="commons/Refund.xsd"/>
	<xs:element name="ExportRefundsRequest">
		<xs:annotation>
			<xs:documentation>Запрос на предоставление информации о возврате</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="com:ExportRequestType">
					<xs:sequence>
						<xs:element ref="sc:RefundsExportConditions">
							<xs:annotation>
								<xs:documentation>Условия для предоставления информации о возврате</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="external" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Внешний запрос в СМЭВ-3 (ГИС ГМП)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExportRefundsResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос предоставления информации о возврате</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="com:ResponseType">
					<xs:sequence minOccurs="0">
						<xs:element maxOccurs="100" name="Refund" type="rf:RefundType">
							<xs:annotation>
								<xs:documentation>Информация о возврате денежных средств (возврат)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="hasMore" type="xs:boolean" use="required">
						<xs:annotation>
							<xs:documentation>Признак конца выборки:
								false - достигнут конец выборки;
								true - после последнего предоставленного элемента в выборке имеются другие.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
