src/main/resources/wsdl/xsd/service/ExportCatalog.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
		   xmlns:com="http://rnip.mos.ru/xsd/Common/2.6.0"
		   xmlns:sc="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
		   xmlns:cat="http://rnip.mos.ru/xsd/Catalog/2.6.0"
		   targetNamespace="urn://rnip.mos.ru/xsd/services/export-catalog/2.6.0"
		   xmlns="urn://rnip.mos.ru/xsd/services/export-catalog/2.6.0">
	<xs:import namespace="http://rnip.mos.ru/xsd/Common/2.6.0" schemaLocation="commons/Common.xsd"/>
	<xs:import namespace="http://rnip.mos.ru/xsd/Catalog/2.6.0" schemaLocation="commons/Catalog.xsd"/>
	<xs:import namespace="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
			   schemaLocation="commons/SearchConditions.xsd"/>
	<xs:element name="ExportCatalogRequest">
		<xs:annotation>
			<xs:documentation>Запрос на экспорт каталога</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="com:ExportRequestType">
					<xs:sequence>
						<xs:element ref="sc:CatalogExportConditions">
							<xs:annotation>
								<xs:documentation>Условия для предоставления информации о каталоге</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExportCatalogResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос предоставления информации о каталоге</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="com:ResponseType">
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="100" name="Service" type="cat:ServiceType">
							<xs:annotation>
								<xs:documentation>Список услуг</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="hasMore" type="xs:boolean" use="required">
						<xs:annotation>
							<xs:documentation>Признак конца выборки:
								false - достигнут конец выборки;
								true - после последнего предоставленного элемента в выборке имеются другие.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="revisionDate" type="xs:date" use="required">
						<xs:annotation>
							<xs:documentation>Дата ревизии каталога</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>