src/main/resources/wsdl/xsd/service/commons/Charge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:org="http://rnip.mos.ru/xsd/Organization/2.6.0"
			xmlns:com="http://rnip.mos.ru/xsd/Common/2.6.0"
			targetNamespace="http://rnip.mos.ru/xsd/Charge/2.6.0" elementFormDefault="qualified"
			xmlns:chg="http://rnip.mos.ru/xsd/Charge/2.6.0">
	<xsd:import namespace="http://rnip.mos.ru/xsd/Organization/2.6.0"
				schemaLocation="Organization.xsd"/>
	<xsd:import namespace="http://rnip.mos.ru/xsd/Common/2.6.0" schemaLocation="Common.xsd"/>
	<xsd:complexType abstract="true" name="AbstractChargeType"/>
	<xsd:complexType name="ChargeType">
		<xsd:annotation>
			<xsd:documentation>Данные нового начисления</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="chg:AbstractChargeType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="LinkedChargesIdentifiers">
						<xsd:annotation>
							<xsd:documentation>Идентификаторы начислений, на основании которых
								выставлено данное
								начисление
							</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="10" name="SupplierBillID"
											 type="com:SupplierBillIDType">
									<xsd:annotation>
										<xsd:documentation>УИН, на основании которого выставлено данное начисление (УИН
											связанного
											начисления)
										</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="org:Payee">
						<xsd:annotation>
							<xsd:documentation>Данные организации, являющейся получателем средств</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="chg:Payer"/>
					<xsd:element name="BudgetIndex" type="com:BudgetIndexType">
						<xsd:annotation>
							<xsd:documentation>Дополнительные реквизиты платежа, предусмотренные приказом Минфина России
								от 12 ноября 2013 г. №107н
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ExecutiveProcedureInfo"
								 type="com:ExecutiveProcedureInfoType">
						<xsd:annotation>
							<xsd:documentation>Дополнительная информация, необходимая для осуществления исполнительного
								производства
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="chg:AdditionalOffense" minOccurs="0"/>
					<xsd:element ref="com:ChangeStatus"/>
					<xsd:element minOccurs="0" ref="com:Discount">
						<xsd:annotation>
							<xsd:documentation>Дополнительные условия оплаты</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="com:AdditionalData">
						<xsd:annotation>
							<xsd:documentation>Дополнительные поля начисления</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="supplierBillID" use="required">
					<xsd:annotation>
						<xsd:documentation>УИН</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:union memberTypes="com:SupplierBillIDType">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attributeGroup ref="chg:commonAttributeGroup"/>
				<xsd:attribute name="noticeTerm">
					<xsd:annotation>
						<xsd:documentation>Количество дней от даты начисления, подлежащей уплате
							плательщиком, по
							истечении которых необходимо повторно предоставлять уведомление о начислении по подписке в
							случае, если оно не
							оплачено или сумма платежей меньше суммы к оплате, указанной в начислении
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="OKVED" type="chg:OKVEDType">
					<xsd:annotation>
						<xsd:documentation>Код по ОКВЭД</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="chargeOffense" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Признак административного правонарушения, зафиксированного специальными
							техническими средствами, работающими в автоматическом режиме
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChargeTemplateType">
		<xsd:annotation>
			<xsd:documentation>Данные шаблона формирования начисления</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="chg:AbstractChargeType">
				<xsd:sequence>
					<xsd:element ref="org:Payee">
						<xsd:annotation>
							<xsd:documentation>Данные организации, являющейся получателем средств</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="chg:Payer">
						<xsd:annotation>
							<xsd:documentation>Сведения о плательщике</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BudgetIndex" type="com:BudgetIndexType">
						<xsd:annotation>
							<xsd:documentation>Дополнительные реквизиты платежа, предусмотренные приказом Минфина России
								от 12 ноября 2013 г. №107н
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" ref="com:Discount">
						<xsd:annotation>
							<xsd:documentation>Дополнительные условия оплаты</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="10" minOccurs="0" ref="com:AdditionalData">
						<xsd:annotation>
							<xsd:documentation>Дополнительные поля начисления</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="supplierBillID">
					<xsd:annotation>
						<xsd:documentation>УИН</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="com:SupplierBillIDType">
							<xsd:pattern value="(\w{20})|(\d{25})"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attributeGroup ref="chg:commonAttributeGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Payer">
		<xsd:annotation>
			<xsd:documentation>Сведения о плательщике</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="com:PayerType">
					<xsd:attribute name="payerName">
						<xsd:annotation>
							<xsd:documentation>Плательщик</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
								<xsd:pattern value="[\S\t ]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="additionalPayerIdentifier">
						<xsd:annotation>
							<xsd:documentation>Дополнительный идентификатор плательщика</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="com:PayerIdentifierType">
								<xsd:pattern value="1((((0[1-9])|(1[0-5])|(2[12456789])|([34]0)|(9[1-9]))[0-9a-zA-Zа-яА-Я]{19})|(90(0){6,18}\d{1,13}))">
									<xsd:annotation>
										<xsd:documentation>Идентификатор ФЛ</xsd:documentation>
									</xsd:annotation>
								</xsd:pattern>
								<xsd:pattern value="200\d{14}[A-Z0-9]{2}\d{3}">
									<xsd:annotation>
										<xsd:documentation>Идентификатор ЮЛ или ИП</xsd:documentation>
									</xsd:annotation>
								</xsd:pattern>
								<xsd:pattern value="[23]00\d{10}[0]{9}"/>
								<xsd:pattern value="300[0-9a-zA-Zа-яА-Я]{19}"/>
								<xsd:pattern value="4[0]{9}\d{12}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:attributeGroup name="commonAttributeGroup">
		<xsd:annotation>
			<xsd:documentation>Общие атрибуты для начисления и шаблона формирования начисления</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="billDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата, а также сведения о периоде времени, в который осуществлено
					начисление, либо время начисления суммы денежных средств, подлежащих уплате
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validUntil" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата, вплоть до которой актуально выставленное начисление</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="totalAmount" type="xsd:unsignedLong" use="required">
			<xsd:annotation>
				<xsd:documentation>Сумма начисления (в копейках)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="purpose" use="required">
			<xsd:annotation>
				<xsd:documentation>Назначение платежа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="210"/>
					<xsd:pattern value="[\S\t ]*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="kbk" type="com:KBKType" use="required">
			<xsd:annotation>
				<xsd:documentation>КБК</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oktmo" type="com:OKTMOType" use="required">
			<xsd:annotation>
				<xsd:documentation>Код по ОКТМО, указываемый АН или ГАН в соответствии с НПА</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deliveryDate" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата отсылки (вручения) плательщику документа с начислением в случае,
					если этот документ был отослан (вручен) получателем средств плательщику
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="legalAct">
			<xsd:annotation>
				<xsd:documentation>Информация о нормативном правовом (правовом) акте, являющемся
					основанием для исчисления суммы денежных средств, подлежащих уплате
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="paymentTerm" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Срок оплаты начисления в соответствии с нормативным правовым
					(правовым) актом
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="origin">
			<xsd:annotation>
				<xsd:documentation>Признак предварительного начисления</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="PRIOR"/>
					<xsd:pattern value="TEMP"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:element name="AdditionalOffense" type="chg:OffenseType">
		<xsd:annotation>
			<xsd:documentation>Блок дополнительной информации об административном правонарушении</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OffenseType">
		<xsd:attribute name="offenseDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата и время нарушения</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="offensePlace" use="required">
			<xsd:annotation>
				<xsd:documentation>Место нарушения</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
					<xsd:pattern value="0"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="legalAct" use="required">
			<xsd:annotation>
				<xsd:documentation>Статья нарушения</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
					<xsd:pattern value="0"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="digitalLink" use="required">
			<xsd:annotation>
				<xsd:documentation>Ссылка на фото (видео) материалов нарушения</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="2000"/>
					<xsd:pattern value="0"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="departmentName" use="required">
			<xsd:annotation>
				<xsd:documentation>Данные о подразделении, вынесшем постановление</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
					<xsd:pattern value="0"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="OKVEDType">
		<xsd:annotation>
			<xsd:documentation>Код по ОКВЭД</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{2}\.\d{2}"/>
			<xsd:pattern value="\d{2}\.\d{2}\.\d{1}"/>
			<xsd:pattern value="\d{2}\.\d{2}\.\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>