src/main/resources/wsdl/xsd/service/commons/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:com="http://rnip.mos.ru/xsd/Common/2.6.0"
			targetNamespace="http://rnip.mos.ru/xsd/Common/2.6.0" elementFormDefault="qualified">
	<xsd:simpleType name="AccountNumType">
		<xsd:annotation>
			<xsd:documentation>Номер счета</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="20"/>
			<xsd:pattern value="\d{20}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="INNType">
		<xsd:annotation>
			<xsd:documentation>ИНН юр. лица</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="INNAllType">
		<xsd:annotation>
			<xsd:documentation>ИНН юр. лица и физ. лица</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{8}"/>
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{10}"/>
			<xsd:pattern value="[1-9]\d{4}|\d{1}[1-9]\d{3}|\d{2}[1-9]\d{2}|\d{3}[1-9]\d{1}|\d{4}[1-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KPPType">
		<xsd:annotation>
			<xsd:documentation>КПП юр. лица</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{2}[A-Z0-9]{2}\d{3}">
				<xsd:annotation>
					<xsd:documentation>9 символов, пятый и шестой из которых могут быть прописными
						(заглавными) латинскими буквами или цифрами, а все остальные только цифрами,
						и при этом первый и второй знаки (цифры) не могут одновременно принимать
						значение ноль ("0").
					</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OKTMOType">
		<xsd:annotation>
			<xsd:documentation>Код ОКТМО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="\d{8}">
				<xsd:annotation>
					<xsd:documentation>8 цифр ОКТМО, при этом первые 3 не могут быть
						нулями
					</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="0"/>
			<xsd:pattern value="\d{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KBKType">
		<xsd:annotation>
			<xsd:documentation>КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-zA-Zа-яА-Я]{20}"/>
			<xsd:pattern value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KBKResponseType">
		<xsd:annotation>
			<xsd:documentation>КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OGRNType">
		<xsd:annotation>
			<xsd:documentation>ОГРН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="13"/>
			<xsd:pattern value="\d{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BIKType">
		<xsd:annotation>
			<xsd:documentation>БИК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SupplierBillIDType">
		<xsd:annotation>
			<xsd:documentation>УИН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\w{20}"/>
			<xsd:pattern value="\d{25}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="URNType">
		<xsd:annotation>
			<xsd:documentation>УРН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EsiaUserInfoType">
		<xsd:choice>
			<xsd:annotation>
				<xsd:documentation>Данные пользователя, полученные информационной системой Участника
					из ЕСИА
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="Person">
				<xsd:annotation>
					<xsd:documentation>Физическое лицо</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DocumentIdentity">
							<xsd:annotation>
								<xsd:documentation>Документ, удостоверяющий
									личность
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:attribute name="code" use="required">
									<xsd:annotation>
										<xsd:documentation>Код документа, удостоверяющего
											личность
										</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="1">
												<xsd:annotation>
													<xsd:documentation>Паспорт гражданина Российской
														Федерации
													</xsd:documentation>
												</xsd:annotation>
											</xsd:enumeration>
											<xsd:enumeration value="2">
												<xsd:annotation>
													<xsd:documentation>Документ иностранного
														гражданина
													</xsd:documentation>
												</xsd:annotation>
											</xsd:enumeration>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="series">
									<xsd:annotation>
										<xsd:documentation>Серия</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="45"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="number" use="required">
									<xsd:annotation>
										<xsd:documentation>Номер</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="45"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="snils" use="required">
						<xsd:annotation>
							<xsd:documentation>СНИЛС физического лица, полученный из ЕСИА</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="\d{11}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="personINN" type="com:PersonINNType">
						<xsd:annotation>
							<xsd:documentation>ИНН физического лица (гражданина РФ).

								Обязательно для заполнения, если физическое лицо - гражданин РФ
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IndividualBusiness">
				<xsd:annotation>
					<xsd:documentation>Индивидуальный предприниматель</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="personINN" use="required">
						<xsd:annotation>
							<xsd:documentation>ИНН, полученный из ЕСИА</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="com:PersonINNType">
								<xsd:length value="12"/>
								<xsd:pattern value="\d{12}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="userId" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>Уникальный идентификатор учетной записи пользователя в системе
					ЕСИА
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sessionIndex">
			<xsd:annotation>
				<xsd:documentation>Уникальный идентификатор сессии пользователя в системе
					ЕСИА
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="300"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="sessionDate" type="xsd:dateTime" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>Дата и время открытия сессии пользователя в системе
					ЕСИА
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AdditionalDataType">
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:annotation>
					<xsd:documentation>Наименование поля</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="100"/>
						<xsd:pattern value="[^\s]+(\s+[^\s]+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Value">
				<xsd:annotation>
					<xsd:documentation>Значение поля</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
						<xsd:pattern value="[^\s]+(\s+[^\s]+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AdditionalData" type="com:AdditionalDataType">
		<xsd:annotation>
			<xsd:documentation>Дополнительные поля</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="MeaningType">
		<xsd:annotation>
			<xsd:documentation>Статус, отражающий изменение данных
				1 - новый
				2 - уточнение
				3 - аннулирование
				4 - деаннулировании
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReasonType">
		<xsd:annotation>
			<xsd:documentation>Основание изменения</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="512"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ChangeStatus">
		<xsd:annotation>
			<xsd:documentation>Сведения о статусе и основаниях его изменения</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element name="Reason" type="com:ReasonType">
					<xsd:annotation>
						<xsd:documentation>Указание является обязательным, если атрибут «meaning» не равен «1»
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="meaning" use="required">
				<xsd:annotation>
					<xsd:documentation>Статус, отражающий изменение данных:
						1 - новый
						2 - уточнение
						3 - аннулирование
						4 - деаннулировании
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="com:MeaningType">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="changeDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата и время уточнения информации</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="PersonINNType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{12}"/>
			<xsd:length value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element abstract="true" name="Discount" type="com:DiscountType"/>
	<xsd:simpleType name="DiscountValueType">
		<xsd:union memberTypes="xsd:float xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="DiscountDateType">
		<xsd:annotation>
			<xsd:documentation>Срок действия скидки.
				Возможные значения:
				- дата окончания скидки в формате «ГГГГ-ММ-ДД»;
				- при отсутствии срока действия указывается значение «0».
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d{4}-\d{2}-\d{2})|0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType abstract="true" name="DiscountType">
		<xsd:sequence>
			<xsd:element name="Value" type="com:DiscountValueType">
				<xsd:annotation>
					<xsd:documentation>значение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Expiry" type="com:DiscountDateType">
				<xsd:annotation>
					<xsd:documentation>срок действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DiscountSize" substitutionGroup="com:Discount">
		<xsd:annotation>
			<xsd:documentation>Условия оплаты со скидкой (процент)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:DiscountType">
					<xsd:sequence>
						<xsd:element name="Value">
							<xsd:annotation>
								<xsd:documentation>Процент скидки от суммы
									начисления
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:minInclusive value="1"/>
									<xsd:maxInclusive value="100"/>
									<xsd:totalDigits value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Expiry" type="com:DiscountDateType">
							<xsd:annotation>
								<xsd:documentation>Срок действия скидки.
									Возможные значения:
									- дата окончания скидки в формате «ГГГГ-ММ-ДД»;
									- при отсутствии срока действия указывается значение «0».
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DiscountFixed" substitutionGroup="com:Discount">
		<xsd:annotation>
			<xsd:documentation>Условия оплаты с фиксированной суммой скидки</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:DiscountType">
					<xsd:sequence>
						<xsd:element name="Value">
							<xsd:annotation>
								<xsd:documentation>Сумма скидки от полной суммы
									начисления
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:minInclusive value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Expiry" type="com:DiscountDateType">
							<xsd:annotation>
								<xsd:documentation>Срок действия скидки.
									Возможные значения:
									- дата окончания скидки в формате «ГГГГ-ММ-ДД»;
									- при отсутствии срока действия указывается значение «0».
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MultiplierSize" substitutionGroup="com:Discount">
		<xsd:annotation>
			<xsd:documentation>Условия оплаты с применением понижающего размер начисления
				коэффициента
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:DiscountType">
					<xsd:sequence>
						<xsd:element name="Value">
							<xsd:annotation>
								<xsd:documentation>Коэффициент, понижающий размер начисления</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:float">
									<xsd:minExclusive value="0"/>
									<xsd:pattern value="0\.\d\d?"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Expiry" type="com:DiscountDateType">
							<xsd:annotation>
								<xsd:documentation>Срок действия учета коэффициента, понижающего размер начисления.
									Возможные значения:
									- дата окончания скидки в формате «ГГГГ-ММ-ДД»;
									- при отсутствии срока действия указывается значение «0».
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RequestType">
		<xsd:attribute name="Id" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор запроса</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:ID">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="timestamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата и время формирования запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="senderIdentifier" type="com:URNType" use="required">
			<xsd:annotation>
				<xsd:documentation>УРН участника-отправителя запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="senderRole" use="required">
			<xsd:annotation>
				<xsd:documentation>Полномочие участника-отправителя сообщения</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\w{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ExportRequestType">
		<xsd:complexContent>
			<xsd:extension base="com:RequestType">
				<xsd:sequence minOccurs="0">
					<xsd:element name="Paging" type="com:PagingType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Параметры постраничного предоставления из ГИС ГМП информации (при больших
								объемах предоставляемых данных)
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="originatorId" type="com:URNType">
					<xsd:annotation>
						<xsd:documentation>УРН участника косвенного взаимодействия, сформировавшего запрос
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ResponseType">
		<xsd:annotation>
			<xsd:documentation>Основные параметры ответа на запрос</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="Id" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор ответа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:ID">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="RqId" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор запроса</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="recipientIdentifier" type="com:URNType" use="required">
			<xsd:annotation>
				<xsd:documentation>УРН участника получателя</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="timestamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата и время формирования ответа</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="PayerIdentifierType">
		<xsd:annotation>
			<xsd:documentation>Идентификатор плательщика</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="1((((0[1-9])|(1[0-5])|(2[12456789])|([34]0)|(9[1-9]))[0-9a-zA-Zа-яА-Я]{19})|(90(0){6,18}\d{1,13}))">
				<xsd:annotation>
					<xsd:documentation>Идентификатор ФЛ</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="200\d{14}[A-Z0-9]{2}\d{3}">
				<xsd:annotation>
					<xsd:documentation>Идентификатор ЮЛ или ИП</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="[23]00\d{10}[0]{9}"/>
			<xsd:pattern value="300[0-9a-zA-Zа-яА-Я]{19}"/>
			<xsd:pattern value="4[0]{9}\d{12}"/>
			<xsd:pattern value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PayerType">
		<xsd:attribute name="payerIdentifier" type="com:PayerIdentifierType" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор плательщика</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ImportProtocolType">
		<xsd:complexContent>
			<xsd:extension base="com:SingleImportProtocolType">
				<xsd:attribute name="entityID" type="xsd:ID" use="required">
					<xsd:annotation>
						<xsd:documentation>Идентификатор сущности в пакете</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SingleImportProtocolType">
		<xsd:attribute name="code" use="required">
			<xsd:annotation>
				<xsd:documentation>Код результата обработки:
					0 — если запрос успешно принят или код ошибки в случае отказа в приеме к обработке документа
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="description" use="required">
			<xsd:annotation>
				<xsd:documentation>Описание результата обработки</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ImportPackageResponseType">
		<xsd:complexContent>
			<xsd:extension base="com:ResponseType">
				<xsd:sequence>
					<xsd:element name="ImportProtocol" type="com:ImportProtocolType" maxOccurs="100">
						<xsd:annotation>
							<xsd:documentation>Результат обработки сущности в пакете</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TransKindType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AccDocType">
		<xsd:attribute name="accDocNo">
			<xsd:annotation>
				<xsd:documentation>Номер платежного документа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="15"/>
					<xsd:pattern value="[\S\t ]*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="accDocDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата платежного документа</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="PaymentIdType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="1\d{15}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{8}">
				<xsd:annotation>
					<xsd:documentation>Структура УПНО для кредитных организаций</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="2\d{4}0{11}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{8}">
				<xsd:annotation>
					<xsd:documentation>Структура УПНО для ТОФК</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="3[a-fA-F0-9]{6}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{17}">
				<xsd:annotation>
					<xsd:documentation>Структура УПНО для остальных участников</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="\w{32}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RefundIdType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{8}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{9}"/>
			<xsd:pattern value="6\d{4}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{19}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="BankType">
		<xsd:annotation>
			<xsd:documentation>Данные ТОФК, структурных подразделений кредитных организаций или подразделений Банка
				России
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name">
			<xsd:annotation>
				<xsd:documentation>Наименование структурного подразделения кредитной организации или
					подразделения Банка России, в котором открыт счет.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="160"/>
					<xsd:pattern value="[^\s]+(\s+[^\s]+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="bik" type="com:BIKType" use="required">
			<xsd:annotation>
				<xsd:documentation>БИК структурного подразделения кредитной организации или подразделения Банка России,
					в котором открыт счет.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="correspondentBankAccount" type="com:AccountNumType">
			<xsd:annotation>
				<xsd:documentation>Номер корреспондентского счета кредитной организации, открытый в
					подразделении Банка России.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AccountType">
		<xsd:annotation>
			<xsd:documentation>Описание реквизитов казначейского счета или банковского счета, открытого кредитной
				организации в ПБР
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Bank" type="com:BankType">
				<xsd:annotation>
					<xsd:documentation>Данные ТОФК, структурного подразделения кредитной организации или подразделения
						Банка России, в котором открыт счет
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="accountNumber" type="com:AccountNumType">
			<xsd:annotation>
				<xsd:documentation>Номер казначейского счета или номер счета получателя средств в банке получателя
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="OrgAccount">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="com:AccountType">
					<xsd:sequence>
						<xsd:element name="Bank" type="com:BankType">
							<xsd:annotation>
								<xsd:documentation>Данные ТОФК, структурного подразделения кредитной организации или
									подразделения Банка России, в котором открыт счет
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="accountNumber" type="com:AccountNumType" use="required">
						<xsd:annotation>
							<xsd:documentation>Номер казначейского счета или номер счета получателя средств в банке
								получателя
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="PayeeAccountType">
		<xsd:annotation>
			<xsd:documentation>Лицевого счета получателя платежа</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\d\w]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PagingType">
		<xsd:annotation>
			<xsd:documentation>Параметры постраничного предоставления информации</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="pageNumber" use="required">
			<xsd:annotation>
				<xsd:documentation>Номер страницы предоставления информации

					Вся выборка по запросу разбивается на страницы размером pageLength, начиная с первого элемента.
					Последняя страница может быть меньше, чем pageLength.
					В ответ на запрос возвращается только страница, номер которой равен pageNumber.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:nonNegativeInteger">
					<xsd:minInclusive value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="pageLength" use="required">
			<xsd:annotation>
				<xsd:documentation>Количество элементов на странице предоставления информации</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:nonNegativeInteger">
					<xsd:minInclusive value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="TimeIntervalType">
		<xsd:attribute name="startDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Начальная дата временного интервала запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="endDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Конечная дата временного интервала запроса</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="TimeInterval" type="com:TimeIntervalType">
		<xsd:annotation>
			<xsd:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="KBKlist">
		<xsd:annotation>
			<xsd:documentation>Перечень КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="KBK" type="com:KBKType" maxOccurs="10">
					<xsd:annotation>
						<xsd:documentation>КБК</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="AcknowledgmentStatusType">
		<xsd:annotation>
			<xsd:documentation>Статус, присваиваемый начислению при создании квитанции</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ImportCertificateEntryType">
		<xsd:sequence>
			<xsd:element name="CertificateInfo" type="com:CertificateInfoType">
				<xsd:annotation>
					<xsd:documentation>Информация о сертификате ключа проверки электронной подписи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Id" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Уникальный в пределах запроса идентификатор описания сертификата</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="operation" use="required">
			<xsd:annotation>
				<xsd:documentation>Вид операции.
					Возможные значения:
					APPEND – загрузка нового сертификата ключа проверки ЭП.
					REPLACE – обновление хранящегося в ГИС ГМП сертификата ключа проверки ЭП.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="APPEND"/>
					<xsd:enumeration value="REPLACE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CertificateInfoType">
		<xsd:attribute name="ownership" type="com:URNType" use="required">
			<xsd:annotation>
				<xsd:documentation>УРН владельца сертификата ключа проверки ЭП</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="serialNumber">
			<xsd:annotation>
				<xsd:documentation>Уникальный номер сертификата представленный в виде десятичного числа. Обязательно
					указание при обновлении сертификата (operation= «REPLACE»).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="200"/>
					<xsd:pattern value="\d{1,200}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="certificate" type="xsd:base64Binary" use="required">
			<xsd:annotation>
				<xsd:documentation>Сертификат ключа проверки ЭП участника в формате Base64</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="BudgetIndexType">
		<xsd:annotation>
			<xsd:documentation>Дополнительные реквизиты платежа, предусмотренные приказом Минфина России от 12 ноября
				2013 г. №107н
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="status" use="required">
			<xsd:annotation>
				<xsd:documentation>Статус плательщика - реквизит 101 Распоряжения</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:length value="2"/>
					<xsd:pattern value="\d{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="paytReason" use="required">
			<xsd:annotation>
				<xsd:documentation>Показатель основания платежа - реквизит 106 Распоряжения</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="2"/>
					<xsd:minLength value="1"/>
					<xsd:pattern value="[А-Я]{2}"/>
					<xsd:pattern value="\d{2}"/>
					<xsd:pattern value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="taxPeriod" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Показатель налогового периода или код таможенного органа, осуществляющего в соответствии с
					законодательством РФ функции по выработке государственной политики и нормативному регулированию,
					контролю и надзору в области таможенного дела – реквизит 107 Распоряжения.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:pattern value="МС\.(0[0-9]|1[012])\.\d{4}"/>
					<xsd:pattern value="КВ\.0[1-4]\.\d{4}"/>
					<xsd:pattern value="ПЛ\.0[1-2]\.\d{4}"/>
					<xsd:pattern value="ГД\.00\.\d{4}"/>
					<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.\d{4}"/>
					<xsd:pattern value="\d{8}"/>
					<xsd:pattern value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="taxDocNumber" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Показатель номера документа - реквизит 108 Распоряжения
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="15"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="taxDocDate" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Показатель даты документа - реквизит 109 Распоряжения
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:pattern value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.\d{4}"/>
					<xsd:pattern value="00"/>
					<xsd:pattern value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="IncomeIdType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="4\d{4}((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])\d{4})\d{19}">
				<xsd:annotation>
					<xsd:documentation>Структура УИЗ для ТОФК</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>ISO 4217 3-буквенный код валюты.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="USD"/>
			<xsd:enumeration value="RUB"/>
			<xsd:enumeration value="RUR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Money">
		<xsd:simpleContent>
			<xsd:extension base="xsd:long">
				<xsd:attribute name="currency" type="com:CurrencyCodeType" default="RUR">
					<xsd:annotation>
						<xsd:documentation>Код валюты в соответствии с ISO 4217</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="exponent" default="2">
					<xsd:annotation>
						<xsd:documentation>количество дробных знаков</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:pattern value="([0-9]{1})"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CommissionsType">
		<xsd:sequence>
			<xsd:element name="Commission" type="com:CommissionType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommissionType">
		<xsd:annotation>
			<xsd:documentation>Тип - комиссия</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Kind">
				<xsd:annotation>
					<xsd:documentation>Вид комиссии
						1 - за операцию, с плательщика в пользу поставщика
						2 - за операцию, с агента в пользу поставщика
						3 - вознаграждение агенту за период взаиморасчётов агента и поставщика
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Percent" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Процент комиссии в валюте платежа. Указывается в процентах (0 - 100). При
						отсутствии тега процент принимается равным 0
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinValue" type="com:Money" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Минимальная сумма комиссии. При отсутствии тега процент принимается равным 0
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaxValue" type="com:Money" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Максимальная сумма комиссии.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="UUID">
		<xsd:annotation>
			<xsd:documentation>Универсальный уникальный идентификатор (UUID - Universally Unique Identifier) RFC 4122
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="36"/>
			<xsd:pattern
					value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RegionType">
		<xsd:annotation>
			<xsd:documentation>Тип для описания региона</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id">
			<xsd:annotation>
				<xsd:documentation>Идентификатор региона</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name">
			<xsd:annotation>
				<xsd:documentation>Наименование региона</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SimpleParameterType">
		<xsd:complexContent>
			<xsd:extension base="com:ParameterType">
				<xsd:sequence>
					<xsd:element name="Value" type="com:ParamValueType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Значение параметра</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplexParameterType">
		<xsd:complexContent>
			<xsd:extension base="com:ParameterType">
				<xsd:sequence>
					<xsd:element name="Field" type="com:FieldType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Поле сложного параметра</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="label">
					<xsd:annotation>
						<xsd:documentation>Наименование значения</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="256"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParameterType">
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Наименование параметра</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="supplierSrvCode">
			<xsd:annotation>
				<xsd:documentation>Код услуги в каталоге поставщика</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="supplierID" type="com:UUID">
			<xsd:annotation>
				<xsd:documentation>Id поставщика из каталога которого взята услуга</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isId" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>Указывает что данный параметр является идентификатором плательщика
					0 - параметр определяет платеж в группе параметров с таким же значением isID
					1 - параметр является уникальным, если присутствует несколько параметров с таким значением isID, то
					для идентификации может использоваться любой параметр
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="Value" type="com:ParamValueType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Значение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Наименование поля параметра</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ParamValueType">
		<xsd:attribute name="label">
			<xsd:annotation>
				<xsd:documentation>Наименование значения</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="80"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="isSelected" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>Указывает, что данное значение выбрано в качестве текущего значения параметра в
					случае если присутствует список значений
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="data" use="required">
			<xsd:annotation>
				<xsd:documentation>Значение</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4000"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="PayerIdentificationType">
		<xsd:annotation>
			<xsd:documentation>Тип для идентификации плательщика</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код услуги из каталога</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="SimpleParameter" type="com:SimpleParameterType"/>
				<xsd:element name="ComplexParameter" type="com:ComplexParameterType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Address" type="com:AddressType"/>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>Служит для представления адреса контрагента или любого другого участника
				бизнес-процесса
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="View">
				<xsd:annotation>
					<xsd:documentation>Строковое представление адреса.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Comment" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Произвольный комментарий.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AddressField" minOccurs="0" maxOccurs="10">
				<xsd:annotation>
					<xsd:documentation>Структурированный адрес контрагента или любого другого участника
						бизнес-процесса
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Value">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="type" type="com:AddressKindType" use="required">
						<xsd:annotation>
							<xsd:documentation>Возможные значения: Почтовый индекс, Страна, Регион, Район, Населенный
								пункт, Город, Улица, Дом, Корпус, Квартира
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="kind" use="required">
			<xsd:annotation>
				<xsd:documentation>Вид адреса
					1 - юридический
					2 - фактический
					3 - почтовый
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:int">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="AddressKindType">
		<xsd:annotation>
			<xsd:documentation>Почтовый адрес</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Zip"/>
			<xsd:enumeration value="Country"/>
			<xsd:enumeration value="Region"/>
			<xsd:enumeration value="State"/>
			<xsd:enumeration value="Town"/>
			<xsd:enumeration value="City"/>
			<xsd:enumeration value="Street"/>
			<xsd:enumeration value="House"/>
			<xsd:enumeration value="Building"/>
			<xsd:enumeration value="Flat"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Contact" type="com:ContactType"/>
	<xsd:complexType name="ContactType">
		<xsd:annotation>
			<xsd:documentation>Содержит описание возможных способов связи</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Value">
				<xsd:annotation>
					<xsd:documentation>Значение</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Comment" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Комментарий</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="kind" use="required">
			<xsd:annotation>
				<xsd:documentation>Вид контакта</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="100"/>
					<xsd:enumeration value="Internal number"/>
					<xsd:enumeration value="Work phone"/>
					<xsd:enumeration value="Mobile phone"/>
					<xsd:enumeration value="Home phone"/>
					<xsd:enumeration value="Pager"/>
					<xsd:enumeration value="Fax"/>
					<xsd:enumeration value="Mail"/>
					<xsd:enumeration value="ICQ"/>
					<xsd:enumeration value="Web site"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="RequisiteCheckCodeType">
		<xsd:annotation>
			<xsd:documentation>КПР или код ошибки</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="serviceDataIDType">
		<xsd:annotation>
			<xsd:documentation>Идентификатор информации об учете факта оплаты</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="24"/>
			<xsd:pattern value="P[a-fA-F0-9]{6}\d{17}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ServiceDataType">
		<xsd:annotation>
			<xsd:documentation>Дополнительные сведения о предоставлении услуги</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="personeOfficial">
				<xsd:annotation>
					<xsd:documentation>Информация о лице, принявшем решение об учете факта оплаты</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="name" use="required">
						<xsd:annotation>
							<xsd:documentation>Фамилия и инициалы должностного лица, принявшего решение об учете факта
								оплаты
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="100"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="officialPosition" use="required">
						<xsd:annotation>
							<xsd:documentation>Должность лица, принявшего решение об учете платежа</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="300"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="amount" type="xsd:unsignedLong" use="required">
			<xsd:annotation>
				<xsd:documentation>Сумма, на которую была предоставлена услуга, в копейках</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="courtName" use="required">
			<xsd:annotation>
				<xsd:documentation>Наименование организации, принявшей решение об учете платежа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="400"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lawsuitInfo" use="required">
			<xsd:annotation>
				<xsd:documentation>Реквизиты делопроизводства</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="50"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="reconcileIDType">
		<xsd:annotation>
			<xsd:documentation>Номер операции принудительного квитирования начисления с отсутствующим в ГИС ГМП
				платежом
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="24"/>
			<xsd:pattern value="N[a-fA-F0-9]{6}\d{17}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AdrType">
		<xsd:annotation>
			<xsd:documentation>Адрес</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FIOFSSPType">
		<xsd:annotation>
			<xsd:documentation>ФИО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1000"/>
			<xsd:pattern value="\S+([\S\s]*\S+)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ExecutiveProcedureInfoType">
		<xsd:annotation>
			<xsd:documentation>Информация, необходимая для осуществления исполнительного производства
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="com:Claimer"/>
			<xsd:element ref="com:DeedInfo"/>
			<xsd:element name="ExecutOrgan">
				<xsd:annotation>
					<xsd:documentation>Данные органа, выдавшего исполнительный документ</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="organOkogu" use="required">
						<xsd:annotation>
							<xsd:documentation>Код по Общероссийскому классификатору органов
								государственной власти и управления (ОКОГУ) органа, выдавшего исполнительный документ
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="7"/>
								<xsd:pattern value="\d{7}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="organCode" use="required">
						<xsd:annotation>
							<xsd:documentation>Код подразделения органа, выдавшего исполнительный
								документ
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="10"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="organ" use="required">
						<xsd:annotation>
							<xsd:documentation>Наименование подразделения уполномоченного органа,
								выдавшего исполнительный документ
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="1000"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="organAdr" type="com:AdrType" use="required" form="unqualified">
						<xsd:annotation>
							<xsd:documentation>Адрес органа, выдавшего исполнительный документ</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="organSignCodePost" use="required">
						<xsd:annotation>
							<xsd:documentation>Код должности лица, выдавшего исполнительный документ</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="25"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="organSign" use="required">
						<xsd:annotation>
							<xsd:documentation>Должность лица, выдавшего исполнительный документ
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="255"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="organSignFIO" type="com:FIOFSSPType" use="required">
						<xsd:annotation>
							<xsd:documentation>Фамилия, имя, отчество должностного лица, выдавшего
								исполнительный документ
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Debtor">
				<xsd:annotation>
					<xsd:documentation>Сведения о должнике</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="debtorType" use="required">
						<xsd:annotation>
							<xsd:documentation>Тип должника</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorName" use="required">
						<xsd:annotation>
							<xsd:documentation>Должник</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="1000"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorAdr" type="com:AdrType" use="required">
						<xsd:annotation>
							<xsd:documentation>Адрес должника</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="debtorAdrFakt" type="com:AdrType">
						<xsd:annotation>
							<xsd:documentation>Адрес должника фактический</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="debtorCountryCode">
						<xsd:annotation>
							<xsd:documentation>Код страны принадлежности должника по Общероссийскому
								классификатору стран мира
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
								<xsd:pattern value="\d{3}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorRegPlace">
						<xsd:annotation>
							<xsd:documentation>Место регистрации должника - индивидуального
								предпринимателя
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="150"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorBirthDate" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Дата рождения должника</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="debtorGender" use="optional">
						<xsd:annotation>
							<xsd:documentation>Пол должника</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="7"/>
								<xsd:enumeration value="мужской"/>
								<xsd:enumeration value="женский"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorBirthPlace">
						<xsd:annotation>
							<xsd:documentation>Место рождения должника</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="100"/>
								<xsd:pattern value="\S+([\S\s]*\S+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorSnils">
						<xsd:annotation>
							<xsd:documentation>Cтраховой номер индивидуального лицевого счета должника
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="11"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorInn">
						<xsd:annotation>
							<xsd:documentation>Идентификационный номер налогоплательщика должника</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="\d{10}|\d{12}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorKpp">
						<xsd:annotation>
							<xsd:documentation>Код причины постановки на учет должника</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="9"/>
								<xsd:pattern
										value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})|0)"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="debtorOgrn" type="com:OGRNType">
						<xsd:annotation>
							<xsd:documentation>Основной государственный регистрационный номер должника
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="debtorDriveLicenseNum">
						<xsd:annotation>
							<xsd:documentation>Водительское удостоверение должника</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="com:MvvDatumIdentificatorDebtor" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Recall" type="com:Recall" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Информация об отзыве или возврате исполнительного документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="externalKey" use="required">
			<xsd:annotation>
				<xsd:documentation>Идентификатор документа, присвоенный АИС внешнего контрагента</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="60"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="idDeloNo" use="required">
			<xsd:annotation>
				<xsd:documentation>Номер дела или материалов</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="25"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="deloPlace">
			<xsd:annotation>
				<xsd:documentation>Место рассмотрения дела</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="150"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="idDesDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата принятия решения по делу</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="aktDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата вступления решения в законную силу</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="srokPrIsp" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>Срок предъявления исполнительного документа к исполнению
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="srokPrIspType" use="required">
			<xsd:annotation>
				<xsd:documentation>Тип периода срока предъявления исполнительного документа
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="notifFSSPDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата уведомления ФССП России о неуплате штрафа в установленный
					законом
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="DeedInfo">
		<xsd:annotation>
			<xsd:documentation>Данные исполнительного документа</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="IDType" use="required">
				<xsd:annotation>
					<xsd:documentation>Код вида исполнительного документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"/>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="idDocNo" use="required">
				<xsd:annotation>
					<xsd:documentation>Номер исполнительного документа, присвоенный органом, выдавшим
						исполнительный документ
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="25"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="idDocDate" type="xsd:date" use="required">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи исполнительного документа</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="subjCode" use="required">
				<xsd:annotation>
					<xsd:documentation>Код предмета исполнения</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="7"/>
						<xsd:pattern value="\d{7}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="subjName" use="required">
				<xsd:annotation>
					<xsd:documentation>Предмет исполнения</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IncomeInfoType">
		<xsd:annotation>
			<xsd:documentation>Сведения о сопоставлении платежа и зачисления</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IncomeData" minOccurs="0" maxOccurs="10">
				<xsd:annotation>
					<xsd:documentation>Данные сопоставленного зачисления</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="incomeId" type="com:IncomeIdType" use="required">
						<xsd:annotation>
							<xsd:documentation>Идентификатор зачисления, сопоставленного с платежом</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="isUncertain" type="xsd:boolean" use="required">
						<xsd:annotation>
							<xsd:documentation>Признак отнесения зачисления к невыясненным поступлениям
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="sourceIDDoc" use="required">
						<xsd:annotation>
							<xsd:documentation>Идентификатор зачисления в ИС, формирующей зачисление</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="50"/>
								<xsd:pattern value="[^\s]+(\s+[^\s]+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="sourceIDIS" use="required">
						<xsd:annotation>
							<xsd:documentation>Код ИС, формирующей зачисление</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="50"/>
								<xsd:pattern value="[^\s]+(\s+[^\s]+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="amount" type="xsd:unsignedLong">
						<xsd:annotation>
							<xsd:documentation>Сумма, указанная в извещении о зачислении</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="kbk" type="com:KBKType">
						<xsd:annotation>
							<xsd:documentation>КБК, указанный в извещении о зачислении</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="oktmo" type="com:OKTMOType">
						<xsd:annotation>
							<xsd:documentation>Код по ОКТМО, , указанный в извещении о зачислении</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="payerIdentifier" type="com:PayerIdentifierType">
						<xsd:annotation>
							<xsd:documentation>Идентификатор плательщика, указанный в извещении о зачислении
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="inn" use="optional">
						<xsd:annotation>
							<xsd:documentation>ИНН получателя средств, указанный в извещении о зачислении
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:union memberTypes="com:INNType">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="0"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:union>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="kpp" use="optional">
						<xsd:annotation>
							<xsd:documentation>КПП получателя средств, указанный в извещении о зачислении
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:union memberTypes="com:KPPType">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="0"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:union>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="accountNumber" type="com:AccountNumType">
						<xsd:annotation>
							<xsd:documentation>Номер казначейского счета получателя средств, указанный в извещении о
								зачислении
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="receiptIncomeStatus" use="required">
			<xsd:annotation>
				<xsd:documentation>Статус сопоставление платежа и зачислений</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ChargeDetailsType">
		<xsd:annotation>
			<xsd:documentation>Расширенная информация о подлежащей к уплате сумме средств (контейнер)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DetailsInfo" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Расширенная информация о подлежащей уплате сумме средств</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="name" use="required">
						<xsd:annotation>
							<xsd:documentation>Наименование налога, сбора, недоимки и пени к налогу, сбору или
								страховому взносу
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="500"/>
								<xsd:pattern value="[^\s]+(\s+[^\s]+)*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="amountPayments" type="xsd:unsignedLong" use="optional">
						<xsd:annotation>
							<xsd:documentation>Сумма, подлежащая уплате</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="dueDate" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Срок уплаты</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="amountBalance" type="xsd:unsignedLong" use="required">
			<xsd:annotation>
				<xsd:documentation>Сумма, отражающая остаток денежных средств налогоплательщика на ЕНС
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="amountDebt" type="xsd:unsignedLong">
			<xsd:annotation>
				<xsd:documentation>Общая подлежащая к уплате сумма средств с наступившим сроком уплаты (задолженность)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="amountUpcoming" type="xsd:unsignedLong">
			<xsd:annotation>
				<xsd:documentation>Общая подлежащая к уплате сумма средств с ненаступившим сроком уплаты (предстоящие
					платежи)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="receiptPaymentStatusType">
		<xsd:annotation>
			<xsd:documentation>Статус сопоставления зачисления и платежа</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EventNotificationType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Claimer">
		<xsd:annotation>
			<xsd:documentation>Информация о взыскателе</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="claimerType" use="required">
				<xsd:annotation>
					<xsd:documentation>Тип взыскателя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="1">
							<xsd:annotation>
								<xsd:documentation>юридическое лицо</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="2">
							<xsd:annotation>
								<xsd:documentation>физическое лицо</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="3">
							<xsd:annotation>
								<xsd:documentation>индивидуальный предприниматель</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="1700">
							<xsd:annotation>
								<xsd:documentation>орган, уполномоченный от имени Российской Федерации, субъекта
									Российской Федерации или муниципального образования осуществлять права и исполнять
									обязанности в исполните
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="claimerAdr" use="required">
				<xsd:annotation>
					<xsd:documentation>Адрес взыскателя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="claimerName" use="required">
				<xsd:annotation>
					<xsd:documentation>Взыскатель</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="1000"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MvvDatumIdentificatorDebtor">
		<xsd:annotation>
			<xsd:documentation>Документ, удостоверяющий личность должника</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="typeDoc" use="required">
				<xsd:annotation>
					<xsd:documentation>Тип документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
						<xsd:enumeration value="01">
							<xsd:annotation>
								<xsd:documentation>паспорт гражданина Союза Советских Социалистических Республик
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="02">
							<xsd:annotation>
								<xsd:documentation>заграничный паспорт гражданина Союза Советских Социалистических
									Республик
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="03">
							<xsd:annotation>
								<xsd:documentation>свидетельство о рождении</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="04">
							<xsd:annotation>
								<xsd:documentation>удостоверение личности офицера</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="05">
							<xsd:annotation>
								<xsd:documentation>справка об освобождении из места лишения свободы</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="06">
							<xsd:annotation>
								<xsd:documentation>паспорт Минморфлота СССР</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="07">
							<xsd:annotation>
								<xsd:documentation>военный билет солдата (матроса, сержанта, старшины)
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="08">
							<xsd:annotation>
								<xsd:documentation>временное удостоверение, выданное взамен военного билета
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="09">
							<xsd:annotation>
								<xsd:documentation>дипломатический паспорт гражданина Российской Федерации
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="10">
							<xsd:annotation>
								<xsd:documentation>иностранный паспорт</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="11">
							<xsd:annotation>
								<xsd:documentation>свидетельство о рассмотрении ходатайства о признании беженцем на
									территории Российской Федерации по существу
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="12">
							<xsd:annotation>
								<xsd:documentation>вид на жительство лица без гражданства</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="13">
							<xsd:annotation>
								<xsd:documentation>удостоверение беженца в Российской Федерации</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="14">
							<xsd:annotation>
								<xsd:documentation>временное удостоверение личности гражданина Российской Федерации
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="19">
							<xsd:annotation>
								<xsd:documentation>разрешение на временное проживание в Российской Федерации
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="20">
							<xsd:annotation>
								<xsd:documentation>свидетельство о предоставлении временного убежища на территории
									Российской Федерации
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="21">
							<xsd:annotation>
								<xsd:documentation>паспорт гражданина Российской Федерации</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="22">
							<xsd:annotation>
								<xsd:documentation>заграничный паспорт гражданина Российской Федерации
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="23">
							<xsd:annotation>
								<xsd:documentation>свидетельство о рождении, выданное уполномоченным органом
									иностранного государства
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="24">
							<xsd:annotation>
								<xsd:documentation>удостоверение личности военнослужащего Российской Федерации
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="26">
							<xsd:annotation>
								<xsd:documentation>паспорт моряка</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="27">
							<xsd:annotation>
								<xsd:documentation>военный билет офицера запаса</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="91">
							<xsd:annotation>
								<xsd:documentation>иные документы, предусмотренные законодательством Российской
									Федерации
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="numDoc" use="required">
				<xsd:annotation>
					<xsd:documentation>Номер документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="serDoc">
				<xsd:annotation>
					<xsd:documentation>Серия документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="dateDoc">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи документа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2100-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="codeDep">
				<xsd:annotation>
					<xsd:documentation>Код подразделения</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="issuedDoc">
				<xsd:annotation>
					<xsd:documentation>Кем выдан</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="300"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="actDate" use="required">
				<xsd:annotation>
					<xsd:documentation>Актуальность сведений</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2100-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NoticeAccountType">
		<xsd:sequence>
			<xsd:element name="Bank" type="com:BankType">
				<xsd:annotation>
					<xsd:documentation>Данные ТОФК, структурного подразделения кредитной организации или подразделения
						Банка России, в котором открыт счет
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="accountNumber" type="com:AccountNumType" use="required">
			<xsd:annotation>
				<xsd:documentation>Номер казначейского счета или номер счета получателя средств в банке получателя
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="NoticeAcknowledgementType">
		<xsd:attribute name="supplierBillID" use="required">
			<xsd:annotation>
				<xsd:documentation>УИН</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:union memberTypes="com:SupplierBillIDType">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="\d{15}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="totalAmount" type="xsd:unsignedLong">
			<xsd:annotation>
				<xsd:documentation>Сумма, указанная в начислении</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="creationDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата квитирования (создания квитанции)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="billStatus" type="com:AcknowledgmentStatusType" use="required">
			<xsd:annotation>
				<xsd:documentation>Статус, присвоенный начислению при создании квитанции
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="balance" type="xsd:long">
			<xsd:annotation>
				<xsd:documentation>Разность между суммой, указанной в начислении и суммой платежей с учетом возвратов.
					Целое число, показывающее сумму в копейках.
					Отрицательное значение информирует о переплате.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="paymentId" use="required">
			<xsd:annotation>
				<xsd:documentation>УПНО</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:union memberTypes="com:PaymentIdType">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="PaymentNotLoaded"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="amountPayment" type="xsd:unsignedLong">
			<xsd:annotation>
				<xsd:documentation>Сумма, указанная в платеже</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isRevoked" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>Признак аннулирования квитанции:
					true - квитанция аннулирована;
					false - квитанция действующая
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="Recall">
		<xsd:annotation>
			<xsd:documentation>Информация об отзыве или возврате исполнительного документа</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="recallCode" use="required">
			<xsd:annotation>
				<xsd:documentation>Код отзыва или возврата исполнительного документа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:length value="1"/>
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>Отзыв исполнительного документа</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>Возврат исполнительного документа</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="recallDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата отзыва или возврата исполнительного документа</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="recallReason" use="required">
			<xsd:annotation>
				<xsd:documentation>Причина отзыва или возврата исполнительного документа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="1000"/>
					<xsd:pattern value="((\S+[\S\s]*\S+)*)"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>