src/main/resources/wsdl/xsd/service/commons/SearchConditions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:com="http://rnip.mos.ru/xsd/Common/2.6.0"
		   xmlns:cat="http://rnip.mos.ru/xsd/Catalog/2.6.0"
		   xmlns:sc="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
		   targetNamespace="http://rnip.mos.ru/xsd/SearchConditions/2.6.0"
		   elementFormDefault="qualified">
	<xs:import namespace="http://rnip.mos.ru/xsd/Common/2.6.0" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://rnip.mos.ru/xsd/Catalog/2.6.0" schemaLocation="Catalog.xsd"/>

	<xs:complexType name="ChargesConditionsType">
		<xs:sequence>
			<xs:element maxOccurs="100" name="SupplierBillID" type="com:SupplierBillIDType">
				<xs:annotation>
					<xs:documentation>УИН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="com:TimeInterval">
				<xs:annotation>
					<xs:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayersConditionsType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="PayerInn" type="com:INNType" maxOccurs="100">
					<xs:annotation>
						<xs:documentation>ИНН юридического лица</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PayerIdentifier" type="sc:PayerIdentifierSearchType" maxOccurs="100">
					<xs:annotation>
						<xs:documentation>Идентификатор плательщика</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PayerIdentification" type="com:PayerIdentificationType"/>
			</xs:choice>
			<xs:element minOccurs="0" ref="com:TimeInterval">
				<xs:annotation>
					<xs:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="com:KBKlist">
				<xs:annotation>
					<xs:documentation>Перечень КБК</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="10" minOccurs="0" name="Beneficiary">
				<xs:annotation>
					<xs:documentation>Идентификация получателя средств</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="inn" type="com:INNType" use="required">
						<xs:annotation>
							<xs:documentation>ИНН получателя средств, указанный в возвращаемом элементе
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="kpp" type="com:KPPType">
						<xs:annotation>
							<xs:documentation>КПП получателя средств, указанный в возвращаемом элементе
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentsConditionsType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
			<xs:element maxOccurs="100" name="PaymentId">
				<xs:annotation>
					<xs:documentation>УПНО</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ServicesCodesList" type="sc:ServicesConditionsType">
				<xs:annotation>
					<xs:documentation>Список кодов услуг</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeConditionsType">
		<xs:sequence>
			<xs:element ref="com:TimeInterval"/>
			<xs:element maxOccurs="10" minOccurs="0" name="Beneficiary">
				<xs:annotation>
					<xs:documentation>Идентификация получателя средств</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="inn" type="com:INNType" use="required">
						<xs:annotation>
							<xs:documentation>ИНН получателя средств, указанный в возвращаемом элементе
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="kpp" type="com:KPPType">
						<xs:annotation>
							<xs:documentation>КПП получателя средств, указанный в возвращаемом элементе
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="subsystemId">
						<xs:annotation>
							<xs:documentation>Идентификатор подсистемы получателя средств</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="0{2}[1-9]|0?[1-9][0-9]|[1-9][0-9][0-9]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="com:KBKlist">
				<xs:annotation>
					<xs:documentation>Перечень КБК</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ServicesCodesList" type="sc:ServicesConditionsType">
				<xs:annotation>
					<xs:documentation>Список кодов услуг</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RefundsConditionsType">
		<xs:sequence>
			<xs:element maxOccurs="100" name="RefundId" type="com:RefundIdType">
				<xs:annotation>
					<xs:documentation>УИВ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncomesConditionsType">
		<xs:sequence>
			<xs:element name="IncomeId" type="com:IncomeIdType" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>УИЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServicesConditionsType">
		<xs:annotation>
			<xs:documentation>Список кодов услуг</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceCode" type="xs:string" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>Код услуги из каталога</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CatalogConditionsType">
		<xs:sequence>
			<xs:choice maxOccurs="100" minOccurs="0">
				<xs:element name="BeneficiaryWithInnKpp">
					<xs:annotation>
						<xs:documentation>Идентификация получателя средств</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="sc:AbstractBeneficiaryType">
								<xs:attribute name="inn" type="com:INNType" use="required">
									<xs:annotation>
										<xs:documentation>ИНН получателя средств, указанный в возвращаемом элементе
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="kpp" type="com:KPPType">
									<xs:annotation>
										<xs:documentation>КПП получателя средств, указанный в возвращаемом элементе
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="BeneficiaryWithPayeeId">
					<xs:annotation>
						<xs:documentation>Идентификация получателя средств</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="sc:AbstractBeneficiaryType">
								<xs:attribute name="payeeId" type="cat:PayeeIDType" use="required">
									<xs:annotation>
										<xs:documentation>УРН получателя платежа</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element minOccurs="0" ref="com:TimeInterval">
				<xs:annotation>
					<xs:documentation>Временной интервал, за который запрашивается информация из ГИС ГМП
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="allDateCatalog" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Признак выгрузки каталога: true - выгрузка полного каталога;
					false - выгрузка изменений каталога
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AbstractBeneficiaryType" abstract="true">
		<xs:attribute name="subsystemId">
			<xs:annotation>
				<xs:documentation>Идентификатор подсистемы получателя средств</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="0{2}[1-9]|0?[1-9][0-9]|[1-9][0-9][0-9]"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Conditions" abstract="true">
		<xs:choice>
			<xs:element name="ChargesConditions" type="sc:ChargesConditionsType">
				<xs:annotation>
					<xs:documentation>Условия для получения информации по УИН с указанием дополнительных параметров (при
						необходимости)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayersConditions" type="sc:PayersConditionsType">
				<xs:annotation>
					<xs:documentation>Условия для получения информации по идентификатору плательщика с указанием
						дополнительных
						параметров (при необходимости)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentsConditions" type="sc:PaymentsConditionsType">
				<xs:annotation>
					<xs:documentation>Условия для получения информации по УПНО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeConditions" type="sc:TimeConditionsType">
				<xs:annotation>
					<xs:documentation>Условия для получения информации за временной интервал с указанием дополнительных
						параметров
						(при необходимости)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefundsConditions" type="sc:RefundsConditionsType">
				<xs:annotation>
					<xs:documentation>Условия для получения информации по уникальному идентификатору возврата (УИВ)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncomesConditions" type="sc:IncomesConditionsType">
				<xs:annotation>
					<xs:documentation>Условия для получения информации по уникальному идентификатору зачисления (УИЗ)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CatalogConditions" type="sc:CatalogConditionsType">
				<xs:annotation>
					<xs:documentation>Условия для получения информации по каталогу</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="kind" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Тип запроса на предоставление информации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ExportPaymentsKindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAYMENT"/>
			<xs:enumeration value="PAYMENTMODIFIED"/>
			<xs:enumeration value="PAYMENTUNMATCHED"/>
			<xs:enumeration value="PAYMENTCANCELLED"/>
			<xs:enumeration value="PAYMENTMAINCHARGE"/>
			<xs:enumeration value="PAYMENT-PART-SERVICE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportChargesKindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHARGE"/>
			<xs:enumeration value="CHARGENOTFULLMATCHED"/>
			<xs:enumeration value="CHARGESTATUS"/>
			<xs:enumeration value="CHARGE-PRIOR"/>
			<xs:enumeration value="CHARGE-PRIOR-NOTFULLMATCHED"/>
			<xs:enumeration value="CHARGE-PRIOR-STATUS"/>
			<xs:enumeration value="TEMP-CHARGING"/>
			<xs:enumeration value="TEMP-CHARGING-NOTFULLMATCHED"/>
			<xs:enumeration value="TEMP-CHARGING-STATUS"/>
			<xs:enumeration value="MAINCHARGE"/>
			<xs:enumeration value="CHARGE-LIST-FULL"/>
			<xs:enumeration value="CHARGE-OFFENSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportQuittancesKindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="QUITTANCE"/>
			<xs:enumeration value="ALLQUITTANCE"/>
			<xs:enumeration value="QUITTANCEMAINCHARGE"/>
			<xs:enumeration value="ALLPOSSIBLE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportRefundsKindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REFUND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportIncomesKindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INCOME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportCatalogKindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CATALOG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PaymentsExportConditions">
		<xs:annotation>
			<xs:documentation>Условия для предоставления информации об уплате</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="sc:Conditions">
					<xs:choice>
						<xs:element name="ChargesConditions" type="sc:ChargesConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений по
									УИН с
									указанием дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PayersConditions" type="sc:PayersConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений по
									идентификатору плательщика с указанием дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentsConditions" type="sc:PaymentsConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений по
									УПНО
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TimeConditions" type="sc:TimeConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о приеме к исполнению распоряжений за
									временной
									интервал с указанием дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute name="kind" type="sc:ExportPaymentsKindType" use="required">
						<xs:annotation>
							<xs:documentation>Тип запроса на предоставление информации об уплате</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChargesExportConditions">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="sc:Conditions">
					<xs:choice>
						<xs:element name="ChargesConditions">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о начислениях по УИН с указанием
									дополнительных
									параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="sc:ChargesConditionsType">
										<xs:sequence>
											<xs:element maxOccurs="100" name="SupplierBillID"
														type="com:SupplierBillIDType">
												<xs:annotation>
													<xs:documentation>УИН</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="PayersConditions">
							<xs:annotation>
								<xs:documentation>Условия для получения информации по идентификатору плательщика с
									указанием
									дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="sc:PayersConditionsType">
										<xs:sequence>
											<xs:choice>
												<xs:element maxOccurs="100" name="PayerInn"
															type="com:INNType">
													<xs:annotation>
														<xs:documentation>ИНН юридического лица</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element maxOccurs="100" name="PayerIdentifier"
															type="sc:PayerIdentifierSearchType">
													<xs:annotation>
														<xs:documentation>Идентификатор плательщика</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="PayerIdentification"
															type="com:PayerIdentificationType"/>
											</xs:choice>
											<xs:element minOccurs="0" ref="com:TimeInterval">
												<xs:annotation>
													<xs:documentation>Временной интервал, за который запрашивается
														информация из ГИС
														ГМП
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element minOccurs="0" ref="com:KBKlist">
												<xs:annotation>
													<xs:documentation>Перечень КБК</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TimeConditions" type="sc:TimeConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о начислениях за временной интервал с
									указанием
									дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute name="kind" type="sc:ExportChargesKindType" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuittancesExportConditions">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="sc:Conditions">
					<xs:choice>
						<xs:element name="ChargesConditions">
							<xs:annotation>
								<xs:documentation>Список УИН и дополнительные ограничения по которым запрашиваются
									сущности
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="sc:ChargesConditionsType">
										<xs:sequence>
											<xs:element maxOccurs="100" name="SupplierBillID"
														type="com:SupplierBillIDType">
												<xs:annotation>
													<xs:documentation>УИН</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TimeConditions" type="sc:TimeConditionsType">
							<xs:annotation>
								<xs:documentation>Временной интервал с дополнительными ограничениями по идентификаторам
									участников
									косвенного взаимодействия и/или КБК
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute name="kind" type="sc:ExportQuittancesKindType" use="required"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RefundsExportConditions">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="sc:Conditions">
					<xs:choice>
						<xs:element name="PayersConditions">
							<xs:annotation>
								<xs:documentation>Условия для получения информации по идентификатору плательщика с
									указанием
									дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="sc:PayersConditionsType">
										<xs:sequence>
											<xs:sequence>
												<xs:element maxOccurs="100" name="PayerIdentifier"
															type="sc:PayerIdentifierSearchType">
													<xs:annotation>
														<xs:documentation>Идентификатор плательщика</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:element minOccurs="0" ref="com:TimeInterval">
												<xs:annotation>
													<xs:documentation>Временной интервал, за который запрашивается
														информация из ГИС
														ГМП
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element minOccurs="0" ref="com:KBKlist">
												<xs:annotation>
													<xs:documentation>Перечень КБК</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="PaymentsConditions" type="sc:PaymentsConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения информации по УПНО</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TimeConditions" type="sc:TimeConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения информации за временной интервал с указанием
									дополнительных
									параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RefundsConditions" type="sc:RefundsConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения информации по уникальному идентификатору
									возврата (УИВ)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute name="kind" type="sc:ExportRefundsKindType" use="required">
						<xs:annotation>
							<xs:documentation>Тип запроса на предоставление информации о возврате</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IncomesExportConditions">
		<xs:annotation>
			<xs:documentation>Условия для предоставления информации о зачислении</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="sc:Conditions">
					<xs:choice>
						<xs:element name="ChargesConditions">
							<xs:annotation>
								<xs:documentation>Список УИН и дополнительные ограничения по которым запрашиваются
									сущности
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="sc:ChargesConditionsType">
										<xs:sequence>
											<xs:element name="SupplierBillID"
														type="com:SupplierBillIDType" maxOccurs="100">
												<xs:annotation>
													<xs:documentation>УИН</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="PayersConditions">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о зачислении по идентификатору
									плательщика с указанием дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="sc:PayersConditionsType">
										<xs:sequence>
											<xs:sequence>
												<xs:element name="PayerIdentifier"
															type="sc:PayerIdentifierSearchType" maxOccurs="100">
													<xs:annotation>
														<xs:documentation>Идентификатор плательщика</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:element ref="com:TimeInterval" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Временной интервал, за который запрашивается
														информация из ГИС
														ГМП
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element ref="com:KBKlist" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Перечень КБК</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="PaymentsConditions" type="sc:PaymentsConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о зачислении по УПНО
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TimeConditions" type="sc:TimeConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о зачислении за временной
									интервал с указанием дополнительных параметров (при необходимости)
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IncomesConditions" type="sc:IncomesConditionsType">
							<xs:annotation>
								<xs:documentation>Условия для получения извещений о зачислении по УИЗ</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:attribute name="kind" type="sc:ExportIncomesKindType" use="required">
						<xs:annotation>
							<xs:documentation>Тип запроса на предоставление информации о зачислении</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CatalogExportConditions">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="sc:Conditions">
					<xs:sequence>
						<xs:element name="CatalogConditions" type="sc:CatalogConditionsType"/>
					</xs:sequence>
					<xs:attribute name="kind" type="sc:ExportCatalogKindType" use="required">
						<xs:annotation>
							<xs:documentation>Тип запроса на экспорт каталога</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="PayerIdentifierSearchType">
		<xs:annotation>
			<xs:documentation>Идентификатор плательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="com:PayerIdentifierType">
			<xs:pattern value="1((((0[1-9])|(1[0-5])|(2[12456789])|([34]0)|(9[1-9]))[0-9a-zA-Zа-яА-Я]{19})|(90(0){6,18}\d{1,13}))">
				<xs:annotation>
					<xs:documentation>Идентификатор ФЛ</xs:documentation>
				</xs:annotation>
			</xs:pattern>
			<xs:pattern value="200\d{14}[A-Z0-9]{2}\d{3}">
				<xs:annotation>
					<xs:documentation>Идентификатор ЮЛ или ИП</xs:documentation>
				</xs:annotation>
			</xs:pattern>
			<xs:pattern value="[23]00\d{10}[0]{9}"/>
			<xs:pattern value="300[0-9a-zA-Zа-яА-Я]{19}"/>
			<xs:pattern value="4[0]{9}\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
